.page-item {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex: 1;
    gap: 2px;
  }

  .content {
    flex-basis: auto;
  }

 
  .view-page-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-left: auto;
    margin-right: 10px;
  }
  
  .view-page-button:hover {
    background-color: #0056b3;
  }

  .line {
  width: 100px; 
  height: 0px; 
  border-width: 2px; 
  border-color: #15ABFF; /* secondary-500 */
  border-style: solid; 
  transform: rotate(90deg); 
  margin-right: 0px;
  }
  