.pagineUnitesi {
  position: fixed;
  top: 200px;
  left: 30px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  position: fixed;
  font-weight: bold;
  border: 3px solid #000;
  transition: transform 0.7s ease;
}

.pagineUnitesi:hover {
  background-color: #b9aceb;
  transform: scale(1.05);
}