body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto; /* Assicura che il form sia centrato orizzontalmente e verticalmente */
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
  resize: none; /* Impedisce di ridimensionare la textarea */
}

input[type="submit"] {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  display: block; /* Centra il pulsante nel form */
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #004494;
}

br {
  clear: both;
}
